.profile-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0.7em 2em;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 36px;

}

.Profile-left {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 30%;
    height: 576px;
    margin: 10px;

}

.Profile-left h2 {
    margin-top: 18px;
}

.Profile-left .p {
    color: #D9D9D9;
    margin-top: 18px;

}

.user-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.line {
    width: 210px;
    height: 0px;
    border: 1px solid #D9D9D9;
}

.profile-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    width: 60%;
    margin-top: 72px;
}

.profile-right h2 {
    display: grid;
    place-items: center;
}

.experience-flex {
    display: grid;
    gap: 18px;
    place-content: center;
}

.experience-layout {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 18px;
}

.experience-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9em;
}

.banner {
    background-color: #161312;
    width: 105px;
    height: 35px;
    color: #f5f5f5;
    text-align: center;
    display: grid;
    place-content: center;
}

.job-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #D9D9D9;
}

.job-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
}

.line2 {
    width: 720px;
    height: 0px;
    border: 1px solid #D9D9D9;
}

.education {
    display: grid;
    gap: 18px;
}

@media (max-width:1100px) {
    .profile-flex {
        flex-direction: column;
    }

    .profile-right {
        width: 100%;


    }
}

@media (max-width:900px) {
    .profile-right {
        position: relative;
        left: 3em;
    }

    .job-location {
        position: relative;
        font-size: 12px;
        left: 1em;

    }

    .experience-top {
        position: relative;
        left: 1em;
    }

    .banner {
        position: relative;
        right: 5%;
        width: 85px;
        height: 25px;
        font-size: 12px;
    }

    .date {
        position: relative;
        right: 5%;
        font-size: 12px;

    }
}

@media (max-width:700px) {

    .profile-right h2,
    .profile-right p {
        position: inherit;
        left: -2em;
    }

    .job-location {
        position: relative;
        font-size: 12px;
        left: 10em;

    }

    .experience-top {
        position: relative;
        left: 7em;
    }

    .banner {
        position: relative;
        right: 38%;
        width: 85px;
        height: 25px;
        font-size: 12px;
    }

    .date {
        position: relative;
        right: 22%;
        font-size: 12px;
    }

    .Profile-left p {
        font-size: 14px;

    }
}

@media (max-width:470px) {
    .profile-flex {
        overflow-x: hidden;
    }

    .Profile-left {
        position: relative;
        left: -2em;
    }

    .experience-top h4 {
        font-size: 14px;
        min-width: 200px;
        position: relative;
        left: -7em;
    }

    .experience-flex h2 {
        position: relative;
        left: -2em;
    }

    .experience-top .banner {
        position: relative;
        left: -17em;
    }

    .line2 {
        width: 360px;
    }

    .job-location {
        position: relative;
        left: 1em;
        gap: 2px;
    }

    .job-location p,
    .date {
        font-size: 9px;
    }

    .education {
        position: inherit;
        left: -2em;
    }

    .education .date {
        position: inherit;
        right: 2em;
    }
}