.footer-container {
    margin-top: 36px;
}

.brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    position: relative;
}

.apple {
    width: 64px;
    height: 86px;
}

.twitter {
    width: 73px;
    height: 75px;
}

.slack {
    width: 190px;
    height: 48px;
}

.dribble {
    width: 190px;
    height: 47px;
}

.brands img {
    width: 100%;
    size: 100%;
}

.apple,
.twitter,
.slack,
.dribble {
    cursor: pointer;
}

.footer-container {
    display: grid;
    justify-content: center;

}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.footer-foot {
    background-color: #CCD6DD;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 52px;
    justify-content: center;
    gap: 18px;
}

@media (max-width:700px) {

    .footer-links {
        font-size: 15px;
    }

    .brands {
        padding: 20px 15%;
    }

    .apple {
        width: 17px;
        height: 23px;
    }

    .twitter {
        width: 20px;
        height: 20px;
    }

    .slack {
        width: 52px;
        height: 13px;
    }

    .dribble {
        width: 52px;
        height: 13px;
    }

}